body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1EDEE;
}

header {
    background-color: #3D5467;
    color: #F1EDEE;
    text-align: center;
    padding: 1em 0;
}

.about, .gallery, .contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F1EDEE;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3D5467;
    color: #F1EDEE;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    text-transform: none;
}
